/*#region CaseColors*/
#Red {
    background: #ef5350;
}

#Green {
    background: #66bb6a;
}

#Yellow {
    background: #ffee58;
}

#Blue {
    background: #42a5f5;
}
/*#endregion*/

/*#region GeneralStyling*/
.form-control {
    border: 1px solid #bdbdbd !important;
}

label {
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.w3-dropdown-hover:hover > .w3-button:first-child, .w3-dropdown-click:hover > .w3-button:first-child {
    background-color: #fff !important;
    color: #000;
}

.w3-button:hover {
    background-color: #fff !important;
}

textarea {
    resize: none;
}

.textMiddle {
    text-align: center;
}

.TopHeader {
    background: #6e6d6d;
    margin-top: 0px;
}

.page {
    display: none;
    min-width: 100%;
}

.active {
    display: block;
}

.page {
    display: none;
    min-width: 100%;
}

.active {
    display: block;
}
/*#endregion*/

/*#region W3Styling*/
#DropdownNav {
    height: 80px !important;
}

.w3-bar {
    background-color: #fff;
    height: 80px !important;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.w3-bar-item {
    padding: 0px !important;
}

.w3-button:hover {
    background-color: #fff !important;
}

.w3-button {
    width: 80px;
}
/*#endregion*/

/*#region Login*/
.LoginBody {
    margin: 0 auto;
    margin-top: 15%;
    width: 400px;
    height: 250px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2%;
}

.LoginContainer {
}

.Login {
    margin-top: 2.5%;
}

.HyperTextLogin {
    float: right;
}

#LoginButton {
    margin: 0 auto;
    float: left;
}
/*#endregion*/

/*#region Navbar*/
#LogoArea {
    width: 50%;
}

#SchmidtsRadioLogo {
    margin-top: 12.5%;
    height: 40px;
}

.navbar-color {
    color: #2ea3f2 !important;
}

a:hover {
    background-color: #000 !important;
    text-decoration: none !important;
}
/*#endregion*/

/*#region Cases*/
.form-check-label {
    font-size: 0.8em;
}

.StandName {
    display: inline-block;
    margin-right: 0.5%;
}

.lastStatus {
    float: left;
    margin-top: 5%;
}

.workerOnCase {
    float: left;
    margin-top: 5%;
}

.caseButton {
    float: right;
    margin-left: 1%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.collapseableCaseName {
    width: 60%;
    display: inline-block;
    margin-left: 5%;
}

.collapseableTimer {
    display: inline-block;
    width: 20%
}

#caseHeading {
    margin: 0px !important;
    color: #fff;
}

.ColorBox {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    float: left;
    display: inline-block;
}

#casesHeader {
    text-align: center;
    background-color: #005e85;
}

.collapsible {
    background-color: #263238;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: inline-block;
}

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapseableCommentArea {
    width: 100%;
}



.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*#endregion*/

/*#region Create Forms*/
.CreateFormHeading {
    background-color: #005e85;
}

.collapseableButtonAndStatus {
    margin-top: 0.75%;
    padding-bottom: 2.5%;
}

.btn {
    font-size: 1.1em !important;
}

.test2 {
    width: 100%;
    margin-bottom: 4%;
}

.CreaterHeading {
    text-align: center;
    margin: 0px !important;
    color: #fff;
    padding-top:2.5%;
    padding-bottom:2.5%;
}

.CreaterForm {
    margin-left: 4%;
}

.CreateFormSpacing {
    margin-top: 2.5%;
    width: 95%;
}

.CreateFormSpacingButton {
    margin-top: 5%;
}

.StandText {
    float: right;
    margin: 2.5%;
}

.CheckboxSorting {
    display: inline-block;
    color: #fff;
    margin-left: 2%;
}

.modal {
    margin-top: 50%;
}

.ModalColorBox {
    margin-right: 5%;
}

#ModalColorBoxContainer {
    margin-left: 30%;
}

.modal-content {
    background-color: #37474f !important;
    color: #fff;
    margin: auto;
    padding: 20px;
    padding-bottom: 12.5%;
    width: 100%;
    height: auto;
    text-align: center;
}
/*#endregion*/

