/*#region GeneralStyling*/
body {
    /*background-color: #3498db;
    font-family: Arial;
    color:white;
    text-align: center;*/
}

.page {
    display: none;
    min-width: 100%;
}

.active {
    display: block;
}

.textMiddle {
    text-align: center;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
/*#endregion*/

/*#region CaseColors*/
#Red {
    background: #ef5350;
}

#Green {
    background: #66bb6a;
}

#Yellow {
    background: #ffee58;
}

#Blue {
    background: #42a5f5;
}
/*#endregion*/

/*#region Cases*/
#ContainerEdit {
    width: 80%;
    padding-left: 10%;
}

.CaseContainer {
    width: 80%;
    border: solid 2px;
    margin: 1%;
}

.ColorBox {
    margin: 1%;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.InfoBox {
    margin: 1%;
    display: inline-block;
    border: groove;
    width: 80%;
    height: 50px;
}

.InfoBoxText {
    float: left;
}
/*#endregion*/


/*#region Login*/
.LoginContainer {
    padding-top: 10%;
}

.Login {
    padding-left: 45%;
    padding-top: 1%;
}

.HyperTextLogin {
    padding-left: 45%;
    padding-top: 1%;
}

#LoginButton {
    width: 9%;
}
/*#endregion*/
.navbar-color {
    color: #005F85 !important;
}

a:hover {
    background-color: #fff !important;
    text-decoration: none !important;
}

