@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-bar w3-black">
    <a href="" class="w3-bar-item w3-button">Schmitz Radio</a>
    <div class="w3-dropdown-hover w3-right" id="DropDownBtn">
        <button class="w3-button w3-black">Dropdown</button>
        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>

        </div>
    </div>
</div>
<button onclick="CreateContainer()">Div</button>
<button onclick="CreateCase()">Case</button>
<div class="page active" id="Login">

    <div class="LoginBody">
        <div class="LoginContainer">
            <div class="Login">
                <input id="Uname" name="Uname" placeholder="Username" />
            </div>
            <div class="Login">
                <input id="Pword" name="Pword" placeholder="Password" />
            </div>
            <div class="Login">
                <button class="nav-link" data-target="MainPage" onclick="" id="LoginButton">Login</button>
            </div>
            <div class="HyperTextLogin">
                <p><a href="">Forgotten password?</a></p>
            </div>
        </div>
    </div>
</div>
<div class="page" id="Authors">
    <h1>Authors</h1>
    <button class="nav-link" data-target="MainPage">Cases Page</button>
    <ul id="authors"></ul>
</div>
<div class="page" id="MainPage">
    <button class="nav-link" data-target="Login">Login Page</button>
    <button class="nav-link" data-target="Authors">Authors List</button>
    <div class="container" id="ContainerEdit">
        <div class="CaseContainer">
            <div class="ColorBox" id="Red">
            </div>
            <div class="InfoBox">
                <p class="InfoBoxText">Text</p>
            </div>
        </div>
        <div class="CaseContainer">
            <div class="ColorBox" id="Green">

            </div>
            <div class="InfoBox">
                <p class="InfoBoxText">Text</p>
            </div>
        </div>
        <div class="CaseContainer">
            <div class="ColorBox" id="Blue">

            </div>
            <div class="InfoBox">
                <p class="InfoBoxText">Text</p>
            </div>
        </div>
        <div class="CaseContainer">
            <div class="ColorBox" id="Yellow">

            </div>
            <div class="InfoBox">
                <p class="InfoBoxText">Text</p>
            </div>
        </div>
    </div>
</div>