<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <title>Login Page</title>
    @*<link href="Stylesheets/MobileStyles.css" rel="stylesheet" media="screen and (max-width: 500px)" />
        <link href="Stylesheets/Styles.css" rel="stylesheet" media="screen and (min-width: 500px)" />*@
    <link href="bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/MobileStyles.css" rel="stylesheet" media="screen and (max-width: 500px)" />
    <link href="~/css/Styles.css" rel="stylesheet" media="screen and (min-width: 500px)" />

    @*<script src="Scripts/ApiCall.js"></script>
        <script src="Scripts/spa.js"></script>
        <script src="Scripts/JSCase.js"></script>
        <script src="Scripts/bootstrap.js"></script>*@

    <script src="~/js/site.js"></script>
    <script src="~/js/ApiCall.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/CaseCreation.js"></script>
    <script src="~/js/JSCase.js"></script>
    <script src="~/js/npm.js"></script>
    <script src="~/js/spa.js"></script>
</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
