<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="~/Stylesheets/MobileStyles.css" rel="stylesheet" media="screen and (max-width: 500px)" />
    <link type="text/css" href="~/Stylesheets/Styles.css" rel="stylesheet" media="screen and (min-width: 500px)" />
</head>
<body>
     @RenderBody();
</body>
</html>
