body {
    /*background-color: #3498db;
    font-family: Arial;
    color:white;
    text-align: center;*/
}

.field1 {
    background-color:deepskyblue;
}

.field2 {
    background-color:red;
}
.field3{
    background-color:lawngreen;
}

.textMiddle{
    text-align:center;
}

.test {
    width: 20%;
}

.teest {
    width: 60%;
}