body {
    /*background-color: #3498db;
    font-family: Arial;
    color:white;
    text-align: center;*/
}

.field1 {
    background-color: deepskyblue;
}

.field2 {
    background-color: red;
}

.field3 {
    background-color: lawngreen;
}

.textMiddle {
    text-align: center;
}

.TopHeader {
    background: #6e6d6d;
    margin-top: 0px;
}

#ContainerEdit {
    width: 80%;
    padding-left: 10%;
}

.CaseContainer {
    width: 80%;
    border: solid 2px;
    margin: 1%;
}

.ColorBox {
    margin: 1%;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.InfoBox {
    margin: 1%;
    display: inline-block;
    border: groove;
    width: 80%;
    height: 50px;
}

.InfoBoxText {
    float: left;
}

#Red {
    background: #ff0000;
}

#Green {
    background: #3cd12c;
}

#Yellow {
    background: #fff826;
}

#Blue {
    background: #2c58d1;
}

#MenuIcon {
    float: right;
}

#TopNavBar{
    width:100%;
}


@media screen and (max-width: 550px) {
    #MenuIcon {
        margin: 0;
    }


    #DropDownBtn {
        margin-right: -4%;
        margin-top: 0%;
    }

    .navbar-header {
        float: left;
    }

    .navbar-brand {
        float: right;
    }

    ul.nav {
        float: right;
    }
    /*#Testid {
        margin-right:-15px;
        margin-left:0px;
        position:absolute;
    }*/
}


@media screen and (min-width: 700px) and (max-width: 1280px) {
    #DropDownBtn {
        margin-right:-2%;
        margin-top: 0%;
    }

}